<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Movies</title>
</head>

<body>
    <h1>What Movie Would You Like to add?</h1>
    <form action="/movies" method="POST">
        Name: <input type="text" name="name" />
        <br>
        Genre: <select name="genre" id="genre-select">
            <option value="">--Please choose an option--</option>
            <option value="action">Action</option>
        </select>
        <br>
        Streaming Service: <select type="text" name="streaming" id="stream-select">
            <option value="">--Please choose an option--</option>
            <option value="netflix">Netflix</option>
        </select>
        <br>
        Personal Score: <input type="range" id="score" name="score" min="0" max="10">
        <br>
        Watched: <input type="checkbox" name="hasSeen" />
        <br>
        <input type="submit" name="" value="Create Movie">
    </form>
</body>

</html>